<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	
	<context:component-scan base-package="af.handball.*"></context:component-scan>
	
	<bean id="testServiceMock" class="af.handball.springmock.MockitoFactoryBean">
        <constructor-arg value="af.handball.service.TestService" />
    </bean>
<!-- 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="#{ 'jdbc:postgresql://' + 'localhost' + ':' + '5432' + '/handball' }" />
		<property name="username" value="'#{ 'postgres' }" />
		<property name="password" value="#{ '003343adaja' }" />
		<property name="validationQuery" value="SELECT 1"/>
	</bean> -->
	<jee:jndi-lookup jndi-name="jdbc/postgresql" id="dataSource"
		expected-type="javax.sql.DataSource"></jee:jndi-lookup>
 
	


	<bean
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		id="emf">
		<property name="packagesToScan" value="af.handball.entity" />
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitName" value="handball-game" />
		<property name="jpaPropertyMap">
			<map>
				<entry key="eclipselink.weaving" value="false" />
			</map>
		</property>

	</bean>

	

	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean class="org.springframework.orm.jpa.JpaTransactionManager"
		id="transactionManager">
		<property name="dataSource" ref="dataSource" />	
	</bean>
	<jpa:repositories base-package="af.handball.repository" />

	<!-- <beans profile="prod"> <import resource="database-prod.xml"/> </beans> -->

	
	
	
</beans>